{% extends "base.html" %}
{% block content %}

<main class="main-container">
	<section class="content-container">
		<div class="container contact">
			<div class="row">

                <!--colored section-->
				<div class="col-md-3 instagram">
					<div class="contact-info">
						<i class="bi bi-person-badge-fill icon-big"></i>
						<h2>Thanks</h2>
						<h4>Credit where credit is due</h4>
					</div>
				</div>

				<!--content section-->
				<div class="col-md-9">
					<h2>Disclaimer</h2>
					<p>I am in no way, shape or form affiliated with Instagram. This app was created by me for study purposes and to be a part of my work portfolio and will not be used for a production deployment.</p>

					<hr>

					<h2>Attribution</h2>
					<p>While building this app I used modified CSS and HTML templates available online under the MIT license. Take a look at the links below for more details.</p>

					<a href="https://codepen.io/GeorgePark/full/VXrwOP/">The profile page by George Park</a>
					<br />
					<a href="https://github.com/leocosta1">Main Page by Leonardo Costa</a>
					<br />
					<a href="https://github.com/yurimutti/instagram-login-page">Login page by yurimuitti</a>
					<br />
					<a href="https://stackoverflow.com/questions/71154905/css-for-chat-room-speech-bubble-position">Chat messages by Roko C. Buljan</a>
				</div>

			</div>
		</div>
	</section>
</main>
{% endblock %}
