{% extends "base.html" %}
{% block content %}

<main class="main-container">
	<section class="content-container">
		<div class="container contact">
			<div class="row">

				<!--colored section-->
				<div class="col-md-3 instagram">
					<div class="contact-info">
						<i class="bi bi-balloon-heart-fill icon-big"></i>
						<h2>Good Bye</h2>
						<h4>You are always welcome back, unless you are not.</h4>
					</div>
				</div>

				<!--content section -->
				<div class="col-md-9">
					<h2>Thank you for using our app.</h2>
					<br />
					<div class="signup group">
						<h3>
							Want a new account?<br />
							<a href="{{ url_for ('auth.signup')}}">Sign up</a>
						</h3>
					</div>
					<br />
					<img class="gallery-image" src="https://media0.giphy.com/media/35EsMpEfGHkVoHbNTU/giphy.gif?cid=ecf05e47rbked54g0gnabypfx783dyn138x1vaxb35knccfv&rid=giphy.gif&ct=g" />

                </div>
			</div>
		</div>
	</section>
</main>
{% endblock %}
