<div class="post__footer" id="post-footer-{{ picture.id }}">

    <!--picture buttons-->
    <div class="post__buttons">
        <div class="post__button">
            <!--picture like section-->
            <a
                    hx-get="/like-picture/{{ picture.id }}"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    hx-target="#post-footer-{{ picture.id }}">
                <!-- check if user already liked picture and change class accordingly-->
                <i class="bi {{'bi-heart-fill text-danger' if current_user.id in picture.likes|map(attribute='author_id')|list else 'bi-heart' }} menu-icon mx-2"></i></a>
        </div>

        <div class="post__button">
            <!--picture bookmark section-->
            <a
                    hx-get="/bookmark/{{ picture.id }}"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    hx-target="#post-footer-{{ picture.id }}">
                <!-- check if user already bookmarked picture and change class accordingly-->
                <i class="bi {{'bi-bookmark-fill' if picture in current_user.bookmarks else 'bi-bookmark' }} menu-icon mx-2"></i>
            </a>
        </div>
    </div>
    <!--picture buttons end-->

    <!--picture info-->
    <div class="left">

        <!--call python function to get mutual_likes string-->
        {% set mutual_likes = picture.mutual_likes() %}

        <!--picture likes dropdown-->
        <a data-bs-toggle="dropdown" class="text-muted small">{{ mutual_likes }}</a>
        <div class="dropdown-menu">

            {% for like in picture.likes %}
            <div class="mx-3 mb-3"><img src="{{ like.author.avatar }}" class="profile-img-small mx-2">
                <a class="black" href="{{url_for('views.profile', id=like.author.id)}}">{{ like.author.username }}</a>

                {% if like.author.id != current_user.id %}
                    <a class="btn btn-primary btn-sm mx-5 right"
                    hx-get="/follow/{{ like.author.id }}/{{ picture.id }}"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    hx-target="#post-footer-{{ picture.id }}">
                    {{"unfollow user" if like.author in current_user.followed.all() else "follow user"}}</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <!--picture likes dropdown end-->

        <!--picture description-->
        <div class="post__description">
                    <span>
                      <a class="post__name--underline black fw-bold" href="{{ url_for('views.profile', id=picture.author.id) }}">
                          {{ picture.author.username }}</a>
                      {{ picture.description }}
                    </span>
        </div>
        <span class="post__date-time">{{ picture.date_created|datetime_format  }}</span>
        <!--picture description end-->
    </div>
    <!--picture info end-->

</div>