{% extends "base.html" %}
{% block content %}

<main class="main-container">
	<section class="content-container">
		<div class="container contact">
			<div class="row">

                <!--colored section-->
				<div class="col-md-3 instagram">
					<div class="contact-info">
						<i class="bi bi-cloud-upload icon-big"></i>
						<h2>Post Your Pictures</h2>
						<h4>Be happy, it drives people crazy.</h4>
					</div>
				</div>

                <!--content section -->
				<div class="col-md-9">
					<form method="POST" enctype="multipart/form-data">
						{{ form.hidden_tag() }}
						<div class="contact-form">
							<div class="form-group">
								<label class="control-label col-sm-2 left">{{ form.file.label }}</label>
								<div id="aa" class="col-sm-10">
									{{ form.file(class="form-control mb-3")}}
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2 left">{{ form.description.label }}</label>
								<div class="col-sm-10">
									{{ form.description(class="form-control mb-3")}}
								</div>
							</div>
							<div class="row">
								<div class="form-group col-5 border">
									<label class="control-label">{{ form.private.label }}</label>
									<br />
									{{ form.private(class="form-check-input larger mb-3")}}
								</div>
								<div class="form-group col-5 border">
									<label class="control-label">{{ form.location.label }}</label>
									<br />
									{{ form.location(class="form-check-input larger mb-3")}}
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<br>
								<!--loading gif on click-->
									<a
								hx-get="/loading-gif"
								hx-trigger="click once"
                        		hx-swap="afterend"
									>{{ form.submit (class= "btn btn-dark") }}</a>
								</div>
								<!--error message-->
								{% for field, errors in form.errors.items() %}
								<br />
								<br />
								<small class="form-text text-danger">
									{{ ', '.join(errors) }}
								</small>
								{% endfor %}
							</div>
						</div>
					</form>
				</div>

            </div>
		</div>
	</section>
</main>

{% endblock %}
